<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" th:href="@{../static/css/styles.css}"  type="text/css"/>
        <link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet"/>
        <link th:href="@{/webjars/font-awesome/css/all.css}" rel="stylesheet"/>
        <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
        <script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
        <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    </head>
    <body>
        <header>
            <title></title>
        </header>

        <main class="d-flex flex-nowrap">
            <section th:replace='~{Nav :: asideNav}' />

            <div class="container">
                <div class="container">

                    <div class="row mt-3">
                        <div class="col-lg-9">
                            <h2 class="">Expediente Table</h2>
                        </div>
                        <div class="col">
                            <button data-bs-toggle="modal" type="button" data-bs-target="#addExpedienteModal" class="btn btn-success">
                                <i class="fa fa-plus"></i><span> Añadir Expediente</span>
                            </button>
                            <button data-toggle="modal" type="button" data-bs-target="#deleteExpedienteModal" class="btn btn-danger" >
                                <i class="fa fa-minus"></i><span> Borrar</span>
                            </button>	

                        </div>
                    </div>

                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Id. Expediente</th>
                                <th>Doctor</th>
                                <th>Paciente</th>
                                <th>Cita</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="expediente : ${Expedientes}" th:id="${expediente.idExpediente}">
                                <td><a th:href="@{/expediente/}+${expediente.idExpediente}">[[${expediente.idExpediente}]]</a></td>
                                <td>[[${expediente.doctor.nomdoctor}]]</td>
                                <td>[[${expediente.paciente.cedPaciente}]]</td>
                                <td>[[${expediente.citas.numCita}]]</td>
                                <td>
                                    <a data-bs-toggle="modal" type="button" data-bs-target="#editExpedienteModal" class="edit" 
                                       th:attr="onclick=|populateModalFields('${expediente.idExpediente}', '${expediente.doctor.nomdoctor}', '${expediente.paciente.cedPaciente}', '${expediente.citas.numCita}')|">
                                        <i class="fa fa-edit" data-toggle="tooltip" title="Editar"></i>
                                    </a>
                                    <a data-bs-toggle="modal" type="button" data-bs-target="#deleteExpedienteModal" class="delete"
                                       th:attr="onclick=|deleteModalField('${expediente.idExpediente}')|">
                                        <i class="fa fa-trash" data-toggle="tooltip" title="Borrar"></i>
                                    </a>
                                </td>
                                <!-- HiddenValues  -->
                                <td ></td>
                        </tbody>
                    </table>
                </div>
            </div>
        </main>

        <!-- Add Modal HTML -->
        <section>
            <div id="addExpedienteModal" tabindex="-1" class="modal fade" data-bs-backdrop="static" aria-labelledby="addExpedienteModal" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <form th:action="@{/expediente/guardar}" th:object="${expediente}" method="POST">
                            <div class="modal-header">						
                                <h4 class="modal-title">Añadir Paciente</h4>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="close"></button>
                            </div>
                            <div class="modal-body">					
                                <div class="form-group">
                                    <label for="idExpediente">Id. Expediente</label>
                                    <input type="text" class="form-control" name="idExpediente" required>
                                </div>

                                <div class="form-group">
                                    <label for="Doctor">Doctor</label>
                                    <div class="form-group">
                                        <select class="form-select" name="doctor.ceddoctor"  required>
                                            <option th:each="doctor : ${Doctores}" th:text="${doctor.ceddoctor}" th:value="${doctor.ceddoctor}"></option>
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="Paciente">Paciente</label>
                                    <div class="form-group">
                                        <select class="form-select" name="paciente.cedPaciente"  required>
                                            <option th:each="paciente : ${Pacientes}" th:text="${paciente.cedPaciente}" th:value="${paciente.cedPaciente}"></option>
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="Cita">Num Cita</label>
                                    <div class="form-group">
                                        <select class="form-select" name="cita.numCita"  required>
                                            <option th:each="cita : ${Citas}" th:text="${cita.numCita}" th:value="${cita.numCita}"></option>
                                        </select>
                                    </div>
                                </div>


                            </div>
                            <div class="modal-footer">
                                <input type="button" class="btn btn-default" data-bs-dismiss="modal" value="Cancel">
                                <input type="submit" class="btn btn-success" value="Add">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>

        <!-- Edit Modal HTML -->
        <section>
            <div id="editPacienteModal" tabindex="-1" class="modal fade" data-bs-keyboard="false" data-bs-backdrop="static" aria-labelledby="editPacienteModal" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <form th:action="@{/paciente/actualizar}" th:object="${paciente}" method="POST">
                            <div class="modal-header">						
                                <h4 class="modal-title">Editar Paciente</h4>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="close"></button>
                            </div>
                            <div class="modal-body">	

                                <div class="form-group">
                                    <label for="idExpediente">Id. Expediente</label>
                                    <input id='idExpediente' type="text" readonly class="form-control-plaintext" name="idExpediente">
                                </div>
                                
                                <div class="form-group">
                                    <label for="Doctor">Doctor</label>
                                    <div class="form-group">
                                        <select id='btn-cedDoctor' class="form-select" name="doctor.ceddoctor"  required>
                                            <option th:each="doctor : ${Doctores}" th:text="${doctor.ceddoctor}" th:value="${doctor.ceddoctor}"></option>
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="Paciente">Paciente</label>
                                    <div class="form-group">
                                        <select id='btn-cedPaciente' class="form-select" name="paciente.cedPaciente"  required>
                                            <option th:each="paciente : ${Pacientes}" th:text="${paciente.cedPaciente}" th:value="${paciente.cedPaciente}"></option>
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="Cita">Num Cita</label>
                                    <div class="form-group">
                                        <select id='btn-numCita' class="form-select" name="cita.numCita"  required>
                                            <option th:each="cita : ${Citas}" th:text="${cita.numCita}" th:value="${cita.numCita}"></option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <input type="button" class="btn btn-default" data-bs-dismiss="modal" value="Cancel">
                                <input type="submit" class="btn btn-success" value="Update">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>


        <!-- Delete Modal HTML -->
        <section>
            <div id="deleteExpedienteModal" class="modal fade">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <form th:action="@{/expediente/borrar}" th:object="${expediente}" method="POST">
                            <input id='hiddenCedula' type='hidden' name='idExpediente'>
                            <div class="modal-header">						
                                <h4 class="modal-title">Borrar Expediente</h4>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-hidden="true" aria-label="close"></button>
                            </div>
                            <div class="modal-body">					
                                <p>Are you sure you want to delete these Records?</p>
                                <p class="text-warning"><small>This action cannot be undone.</small></p>
                            </div>
                            <div class="modal-footer">
                                <input type="button" class="btn btn-default" data-bs-dismiss="modal" value="Cancel">
                                <input type="submit" class="btn btn-danger" value="Delete">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>



        <script th:src="@{../static/Expediente.js}" type="text/javascript"></script>
    </body>


</html>
