<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" th:href="@{../static/css/styles.css}"  type="text/css"/>
        <link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet"/>
        <link th:href="@{/webjars/font-awesome/css/all.css}" rel="stylesheet"/>
        <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
        <script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
        <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    </head>
    <body>
        <header>
            <title></title>
        </header>

        <main class="d-flex flex-nowrap">
            <section th:replace='~{Nav :: asideNav}' />

            <div class="container">
                <div class="container">

                    <div class="row mt-3">
                        <div class="col-lg-9">
                            <h2 class="">Horario Table</h2>
                        </div>
                        <div class="col">
                            <button data-bs-toggle="modal" type="button" data-bs-target="#addHorarioModal" class="btn btn-success">
                                <i class="fa fa-plus"></i><span> Añadir Horario</span>
                            </button>
                            <button data-toggle="modal" type="button" data-bs-target="#deleteHorariomodal" class="btn btn-danger" >
                                <i class="fa fa-minus"></i><span> Borrar</span>
                            </button>	

                        </div>
                    </div>

                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Id Horario</th>
                                <th>Dias</th>
                                <th>Horas</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="horario : ${Horarios}" th:id="${horario.idHorario}">
                                <td>[[${horario.idHorario}]]</td>
                                <td>[[${horario.dias}]]</td>
                                <td>[[${horario.horas}]]</td>
                                <td>
                                    <a data-bs-toggle="modal" type="button" data-bs-target="#editHorarioModal" class="edit" 
                                       th:attr="onclick=|populateModalFields('${horario.idHorario}', '${horario.dias}', '${horario.horas}')|">
                                        <i class="fa fa-edit" data-toggle="tooltip" title="Editar"></i>
                                    </a>
                                    <a data-bs-toggle="modal" type="button" data-bs-target="#deleteHorarioModal" class="delete"
                                       th:attr="onclick=|deleteModalField('${horario.idHorario}')|">
                                        <i class="fa fa-trash" data-toggle="tooltip" title="Borrar"></i>
                                    </a>
                                </td>
                        </tbody>
                    </table>
                </div>
            </div>
        </main>

        <!-- Add Modal HTML -->
        <section>
            <div id="addHorarioModal" tabindex="-1" class="modal fade" data-bs-backdrop="static" aria-labelledby="addHorarioModal" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <form th:action="@{/horario/guardar}" th:object="${horario}" method="POST">
                            <div class="modal-header">						
                                <h4 class="modal-title">Añadir Horario</h4>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="close"></button>
                            </div>
                            <div class="modal-body">					
                                <div class="form-group">
                                    <label for="idHorario">Id Horario</label>
                                    <input type="text" class="form-control" name="idHorario" required>
                                </div>

                                <div class="form-group">
                                    <label for="dias">Dias</label>
                                    <input type="text" class="form-control" name="dias" required>
                                </div>

                                <div class="form-group">
                                    <label for="horas">Horas</label>
                                    <input type="text" class="form-control" name="horas" required></input>
                                </div>

                                <div class="modal-footer">
                                    <input type="button" class="btn btn-default" data-bs-dismiss="modal" value="Cancel">
                                    <input type="submit" class="btn btn-success" value="Add">
                                </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>

        <!-- Edit Modal HTML -->
        <section>
            <div id="editHorarioModal" tabindex="-1" class="modal fade" data-bs-keyboard="false" data-bs-backdrop="static" aria-labelledby="editHorarioModal" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <form th:action="@{/horario/actualizar}" th:object="${horario}" method="POST">
                            <div class="modal-header">						
                                <h4 class="modal-title">Editar Horario</h4>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="close"></button>
                            </div>
                            <div class="modal-body">					
                                <div class="form-group">
                                    <label for="idHorario">Id Horario</label>
                                    <input id="idHorario" type="text" readonly class="form-control-plaintext" name="idHorario">
                                </div>

                                <div class="form-group">
                                    <label for="dias">Dias</label>
                                    <input id="dias" type="text" class="form-control" name="dias" required>
                                </div>

                                <div class="form-group">
                                    <label for="horas">Horas</label>
                                    <input id="horas" type="text" class="form-control" name="horas" required></input>
                                </div>


                            </div>
                            <div class="modal-footer">
                                <input type="button" class="btn btn-default" data-bs-dismiss="modal" value="Cancel">
                                <input type="submit" class="btn btn-success" value="Update">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>


        <!-- Delete Modal HTML -->
        <section>
            <div id="deleteHorarioModal" class="modal fade">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <form th:action="@{/horario/borrar}" th:object="${horario}" method="POST">
                            <input id='hiddenidHorario' type='hidden' name='idHorario'>
                            <div class="modal-header">						
                                <h4 class="modal-title">Borrar Horario</h4>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-hidden="true" aria-label="close"></button>
                            </div>
                            <div class="modal-body">					
                                <p>Are you sure you want to delete these Records?</p>
                                <p class="text-warning"><small>This action cannot be undone.</small></p>
                            </div>
                            <div class="modal-footer">
                                <input type="button" class="btn btn-default" data-bs-dismiss="modal" value="Cancel">
                                <input type="submit" class="btn btn-danger" value="Delete">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>



        <script th:src="@{../static/Horario.js}" type="text/javascript"></script>
    </body>


</html>
