<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" th:href="@{../static/css/styles.css}"  type="text/css"/>
        <link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet"/>
        <link th:href="@{/webjars/font-awesome/css/all.css}" rel="stylesheet"/>
        <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
        <script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
        <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    </head>
    <body>
        <header>
            <title></title>
        </header>

        <main class="d-flex flex-nowrap">
            <section th:replace='~{Nav :: asideNav}' />

            <div class="container">
                <div class="container">

                    <div class="row mt-3">
                        <div class="col-lg-9">
                            <h2 class="">Medicamento Table</h2>
                        </div>
                        <div class="col">
                            <button data-bs-toggle="modal" type="button" data-bs-target="#addMedModal" class="btn btn-success">
                                <i class="fa fa-plus"></i><span> Añadir Medicamento</span>
                            </button>
                            <button data-toggle="modal" type="button" data-bs-target="#deleteMedModal" class="btn btn-danger" >
                                <i class="fa fa-minus"></i><span> Borrar</span>
                            </button>	

                        </div>
                    </div>

                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Id. Medicamento</th>
                                <th>Nombre</th>
                                <th>Cant. Disponible</th>
                                <th>Vencimiento</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="med : ${Medicamentos}" th:id="${med.idMedicamento}">
                                <td><a th:href="@{/medicamento/}+${med.idMedicamento}">[[${med.idMedicamento}]]</a></td>
                                <td>[[${med.nomMedicamento}]]</td>
                                <td>[[${med.cantDisponible}]]</td>
                                <td>[[${med.fechaVencimiento}]]</td>
                                <td>
                                    <a data-bs-toggle="modal" type="button" data-bs-target="#editMedModal" class="edit" 
                                       th:attr="onclick=|populateModalFields('${med.idMedicamento}', '${med.nomMedicamento}', '${med.cantDisponible}', '${med.fechaVencimiento}')|">
                                        <i class="fa fa-edit" data-toggle="tooltip" title="Editar"></i>
                                    </a>
                                    <a data-bs-toggle="modal" type="button" data-bs-target="#deleteMedModal" class="delete"
                                       th:attr="onclick=|deleteModalField('${med.idMedicamento}')|">
                                        <i class="fa fa-trash" data-toggle="tooltip" title="Borrar"></i>
                                    </a>
                                </td>
                                <!-- HiddenValues  -->
                                <td ></td>
                        </tbody>
                    </table>
                </div>
            </div>
        </main>

        <!-- Add Modal HTML -->
        <section>
            <div id="addMedModal" tabindex="-1" class="modal fade" data-bs-backdrop="static" aria-labelledby="addMedModal" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <form th:action="@{/medicamento/guardar}" th:object="${med}" method="POST">
                            <div class="modal-header">						
                                <h4 class="modal-title">Añadir Medicamento</h4>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="close"></button>
                            </div>
                            <div class="modal-body">					
                                <div class="form-group">
                                    <label for="idMedicamento">Id. Medicamento</label>
                                    <input type="text" class="form-control" name="idMedicamento" required>
                                </div>

                                <div class="form-group">
                                    <label for="nomMedicamento">Nombre</label>
                                    <input type="text" class="form-control" name="nomMedicamento" required>
                                </div>
                                
                                <div class="form-group">
                                    <label for="cantDisponible">Cant. Disponible</label>
                                    <input type="text" class="form-control" name="cantDisponible" required></input>
                                </div>
                                
                                <div class="form-group">
                                    <label for="fechaVencimiento">Fecha vencimiento</label>
                                    <input type="date" class="form-control" name="fechaVencimiento" required></input>
                                </div>
                                
                                
                            </div>
                            <div class="modal-footer">
                                <input type="button" class="btn btn-default" data-bs-dismiss="modal" value="Cancel">
                                <input type="submit" class="btn btn-success" value="Add">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>

        <!-- Edit Modal HTML -->
        <section>
            <div id="editMedModal" tabindex="-1" class="modal fade" data-bs-keyboard="false" data-bs-backdrop="static" aria-labelledby="editMedModal" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <form th:action="@{/medicamento/actualizar}" th:object="${paciente}" method="POST">
                            <div class="modal-header">						
                                <h4 class="modal-title">Editar Paciente</h4>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="close"></button>
                            </div>
                            <div class="modal-body">					
                               <div class="form-group">
                                    <label for="idMedicamento">Id. Medicamento</label>
                                    <input id="idMedicamento" type="text" class="form-control" name="idMedicamento" required>
                                </div>

                                <div class="form-group">
                                    <label for="nomMedicamento">Nombre</label>
                                    <input id="nomMedicamento" type="text" class="form-control" name="nomMedicamento" required>
                                </div>
                                
                                <div class="form-group">
                                    <label for="cantDisponible">Cant. Disponible</label>
                                    <input id="cantDisponible" type="text" class="form-control" name="cantDisponible" required></input>
                                </div>
                                
                                <div class="form-group">
                                    <label for="fechaVencimiento">Fecha vencimiento</label>
                                    <input id="date" type="date" class="form-control" name="fechaVencimiento" required></input>
                                </div>
                            <div class="modal-footer">
                                <input type="button" class="btn btn-default" data-bs-dismiss="modal" value="Cancel">
                                <input type="submit" class="btn btn-success" value="Update">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>


        <!-- Delete Modal HTML -->
        <section>
            <div id="deleteMedeModal" class="modal fade">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <form th:action="@{/medicamento/borrar}" th:object="${med}" method="POST">
                            <input id='hiddenCedula' type='hidden' name='idMedicamento'>
                            <div class="modal-header">						
                                <h4 class="modal-title">Borrar Medicamento</h4>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-hidden="true" aria-label="close"></button>
                            </div>
                            <div class="modal-body">					
                                <p>Are you sure you want to delete these Records?</p>
                                <p class="text-warning"><small>This action cannot be undone.</small></p>
                            </div>
                            <div class="modal-footer">
                                <input type="button" class="btn btn-default" data-bs-dismiss="modal" value="Cancel">
                                <input type="submit" class="btn btn-danger" value="Delete">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>



        <script th:src="@{../static/Medicamento.js}" type="text/javascript"></script>
    </body>


</html>
