<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" th:href="@{../static/css/styles.css}"  type="text/css"/>
        <link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet"/>
        <link th:href="@{/webjars/font-awesome/css/all.css}" rel="stylesheet"/>
        <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
        <script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
        <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    </head>
    <body>
        <header>
            <title></title>
        </header>

        <main class="d-flex flex-nowrap">
            <section th:replace='~{Nav :: asideNav}' />

            <div class="container">
                <div class="container">

                    <div class="row mt-3">
                        <div class="col-lg-9">
                            <h2 class="">Tel. Doctor Table</h2>
                        </div>
                        <div class="col">
                            <button data-bs-toggle="modal" type="button" data-bs-target="#addTelDocModal" class="btn btn-success">
                                <i class="fa fa-plus"></i><span> Añadir Tel. Doctor</span>
                            </button>
                            <button data-toggle="modal" type="button" data-bs-target="#deleteTelDocModal" class="btn btn-danger" >
                                <i class="fa fa-minus"></i><span> Borrar</span>
                            </button>	

                        </div>
                    </div>

                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>id Tel. Doctor</th>
                                <th>Cédula</th>
                                <th>Num. Teléfono</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="tel : ${telDoctors}" th:id="${tel.idTelDoctor}">
                                <td>[[${tel.idTelDoctor}]]</td>
                                <td>[[${tel.cedDoctor}]]</td>
                                <td>[[${tel.numTelefono}]]</td>
                                <td>
                                    <a data-bs-toggle="modal" type="button" data-bs-target="#editTelDocModal" class="edit" 
                                       th:attr="onclick=|populateModalFields('${tel.idTelDoctor}', '${tel.cedDoctor}', '${tel.numTelefono}')|">
                                        <i class="fa fa-edit" data-toggle="tooltip" title="Editar"></i>
                                    </a>
                                    <a data-bs-toggle="modal" type="button" data-bs-target="#deleteTelDocModal" class="delete"
                                       th:attr="onclick=|deleteModalField('${tel.idTelDoctor}')|">
                                        <i class="fa fa-trash" data-toggle="tooltip" title="Borrar"></i>
                                    </a>
                                </td>
                        </tbody>
                    </table>
                </div>
            </div>
        </main>

        <!-- Add Modal HTML -->
        <section>
            <div id="addTelDocModal" tabindex="-1" class="modal fade" data-bs-backdrop="static" aria-labelledby="addTelDocModal" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <form th:action="@{/telDoctor/guardar}" th:object="${telDoc}" method="POST">
                            <div class="modal-header">						
                                <h4 class="modal-title">Añadir Tel. Doctor</h4>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="close"></button>
                            </div>
                            
                            <div class="modal-body">		
                                 <div class="form-group">
                                    <label for="idTelDoctor">Id. Tel. Doctor</label>
                                    <input type="text" class="form-control" name="idTelDoctor" required>
                                </div>
                                
                                <div class="form-group">
                                    <label for="cedDoctor">Cédula</label>
                                    <div class="form-group">
                                        <select class="form-select" name="doctor.ceddoctor"  required>
                                            <option th:each="doctor : ${Doctores}" th:text="${doctor.ceddoctor}" th:value="${doctor.ceddoctor}"></option>
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="numTelefono">Número télefono</label>
                                    <input type="text" class="form-control" name="numTelefono" required>
                                </div>
                                
                            </div>
                            <div class="modal-footer">
                                <input type="button" class="btn btn-default" data-bs-dismiss="modal" value="Cancel">
                                <input type="submit" class="btn btn-success" value="Add">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>

        <!-- Edit Modal HTML -->
        <section>
            <div id="editTelDocModal" tabindex="-1" class="modal fade" data-bs-keyboard="false" data-bs-backdrop="static" aria-labelledby="editTelDocModal" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <form th:action="@{/telDoctor/actualizar}" th:object="${telDoc}" method="POST">
                            <div class="modal-header">						
                                <h4 class="modal-title">Editar Doctor</h4>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="close"></button>
                            </div>
                            <div class="modal-body">					
                                <div class="form-group">
                                    <label for="ceddoctor">Cédula</label>
                                    <input id="idTelDoctor" type="text" readonly class="form-control-plaintext" name="ceddoctor">
                                </div>

                                <div class="form-group">
                                    <label for="puesto">Puesto</label>
                                    <input id="cedDoctor" type="text" class="form-control-plaintext" name="puesto" required>
                                </div>

                                <div class="form-group">
                                    <label for="nomdoctor">Nombre</label>
                                    <input id="nombre" type="text" class="form-control" name="nomdoctor" required></input>
                                </div>

                                <div class="form-group">
                                    <label for="genero">Genero</label>
                                    <div class="form-group">
                                        <select id="btn-genero" class="form-select" name="genero" required>
                                            <option  value="H">Hombre</option>
                                            <option  value="M">Mujer</option>
                                        </select>
                                    </div>
                                </div> 

                                
                            </div>
                            <div class="modal-footer">
                                <input type="button" class="btn btn-default" data-bs-dismiss="modal" value="Cancel">
                                <input type="submit" class="btn btn-success" value="Update">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>


        <!-- Delete Modal HTML -->
        <section>
            <div id="deleteTelDocModal" class="modal fade">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <form th:action="@{/telDoctor/borrar}" th:object="${telDoc}" method="POST">
                            <input id='hiddenCedula' type='hidden' name='ceddoctor'>
                            <div class="modal-header">						
                                <h4 class="modal-title">Borrar Doctor</h4>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-hidden="true" aria-label="close"></button>
                            </div>
                            <div class="modal-body">					
                                <p>Are you sure you want to delete these Records?</p>
                                <p class="text-warning"><small>This action cannot be undone.</small></p>
                            </div>
                            <div class="modal-footer">
                                <input type="button" class="btn btn-default" data-bs-dismiss="modal" value="Cancel">
                                <input type="submit" class="btn btn-danger" value="Delete">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>



        <script th:src="@{../static/TelDoctor.js}" type="text/javascript"></script>
    </body>


</html>
