<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" th:href="@{../static/css/styles.css}"  type="text/css"/>
        <link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet"/>
        <link th:href="@{/webjars/font-awesome/css/all.css}" rel="stylesheet"/>
        <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
        <script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
        <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    </head>
    <body>
        <header>
            <title></title>
        </header>

        <main class="d-flex flex-nowrap">
            <section th:replace='~{Nav :: asideNav}' />

            <div class="container">
                <div class="container">

                    <div class="row mt-3">
                        <div class="col-lg-9">
                            <h2 class="">Tratamientos</h2>
                        </div>
                        <div class="col">
                            <button data-bs-toggle="modal" type="button" data-bs-target="#addTratModal" class="btn btn-success">
                                <i class="fa fa-plus"></i><span> Añadir Tratamientos</span>
                            </button>
                            <button data-toggle="modal" type="button" data-bs-target="#deleteTratModal" class="btn btn-danger" >
                                <i class="fa fa-minus"></i><span> Borrar</span>
                            </button>	

                        </div>
                    </div>

                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Id Tratamiento</th>
                                <th>Visita especialista</th>
                                <th>Cirugía</th>
                                <th>Ced. Paciente</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="trat : ${Tratamientos}" th:id="${trat.idTratamiento}">
                                <td>[[${trat.idTratamiento}]]</td>
                                <td>[[${trat.visitaEspecialista}]]</td>
                                <td>[[${trat.cirugia}]]</td>
                                <td>[[${trat.paciente.cedPaciente}]]</td>

                                <td>
                                    <a data-bs-toggle="modal" type="button" data-bs-target="#editTratModal" class="edit" 
                                       th:attr="onclick=|populateModalFields('${trat.idTratamiento}', '${trat.visitaEspecialista}', '${trat.cirugia}', '${trat.paciente.cedPaciente}')|">
                                        <i class="fa fa-edit" data-toggle="tooltip" title="Editar"></i>
                                    </a>
                                    <a data-bs-toggle="modal" type="button" data-bs-target="#deleteTratModal" class="delete"
                                       th:attr="onclick=|deleteModalField('${trat.idTratamiento}')|">
                                        <i class="fa fa-trash" data-toggle="tooltip" title="Borrar"></i>
                                    </a>
                                </td>
                        </tbody>
                    </table>
                </div>
            </div>
        </main>

        <!-- Add Modal HTML -->
        <section>
            <div id="addTratModal" tabindex="-1" class="modal fade" data-bs-backdrop="static" aria-labelledby="addTratModal" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <form th:action="@{/tratamiento/guardar}" th:object="${trat}" method="POST">
                            <div class="modal-header">						
                                <h4 class="modal-title">Añadir Tratamiento</h4>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="close"></button>
                            </div>

                            <div class="modal-body">	
                                
                                <div class="form-group">
                                    <label for="idTratamiento">Id Tratamiento</label>
                                    <input type="text" class="form-control" name="idTratamiento" required>
                                </div>
                                
                               <div class="form-group">
                                    <label for="visitaEspecialista">Especialista</label>
                                    <div class="form-group">
                                        <select class="form-select" name="doctor.puesto"  required>
                                            <option th:each="doctor : ${Doctores}" th:text="${doctor.puesto}" th:value="${doctor.puesto}"></option>
                                        </select>
                                    </div>
                                </div>
                                
                                 <div class="form-group">
                                    <label for="cirugia">Cirugia</label>
                                    <div class="form-group">
                                        <select class="form-select" name="cirugia" required>
                                            <option  value="S">Sí</option>
                                            <option  value="N">No</option>
                                        </select>
                                    </div>
                                </div> 
                                
                                <div class="form-group">
                                    <label for="cedPaciente">Cédula</label>
                                    <div class="form-group">
                                        <select class="form-select" name="paciente.cedPaciente"  required>
                                            <option th:each="paciente : ${Pacientes}" th:text="${paciente.cedPaciente}" th:value="${paciente.cedPaciente}"></option>
                                        </select>
                                    </div>
                                </div>


                            </div>
                            <div class="modal-footer">
                                <input type="button" class="btn btn-default" data-bs-dismiss="modal" value="Cancel">
                                <input type="submit" class="btn btn-success" value="Add">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>

        <!-- Edit Modal HTML -->
        <section>
            <div id="editTratModal" tabindex="-1" class="modal fade" data-bs-keyboard="false" data-bs-backdrop="static" aria-labelledby="editTratModal" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <form th:action="@{/tratamiento/actualizar}" th:object="${trat}" method="POST">
                            <div class="modal-header">						
                                <h4 class="modal-title">Editar Tratamientos</h4>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="close"></button>
                            </div>
                            <div class="modal-body">					
                                 <div class="form-group">
                                    <label for="idTratamiento">Id Tratamiento</label>
                                    <input id="idTratamiento" type="text" class="form-control" name="idTratamiento" required>
                                </div>
                                
                               <div class="form-group">
                                    <label for="visitaEspecialista">Especialista</label>
                                    <input id="especialista" type="text" class="form-control" name="visitaEspecialista" required>
                                </div>
                                
                                <div class="form-group">
                                    <label for="cirugia">Cirugia</label>
                                    <div class="form-group">
                                        <select id="cirugia" class="form-select" name="cirugia" required>
                                            <option  value="S">Sí</option>
                                            <option  value="N">No</option>
                                        </select>
                                    </div>
                                </div> 
                                
                                <div class="form-group">
                                    <label for="cedPaciente">Cédula</label>
                                    <div class="form-group">
                                        <select id="btn-cedPaciente" class="form-select" name="paciente.cedPaciente"  required>
                                            <option th:each="paciente : ${Pacientes}" th:text="${paciente.cedPaciente}" th:value="${paciente.cedPaciente}"></option>
                                        </select>
                                    </div>
                                </div>

                            </div>
                            <div class="modal-footer">
                                <input type="button" class="btn btn-default" data-bs-dismiss="modal" value="Cancel">
                                <input type="submit" class="btn btn-success" value="Update">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>


        <!-- Delete Modal HTML -->
        <section>
            <div id="deleteTelPacModal" class="modal fade">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <form th:action="@{/tratamiento/borrar}" th:object="${trat}" method="POST">
                            <input id='hiddenCedula' type='hidden' name='idTratamiento'>
                            <div class="modal-header">						
                                <h4 class="modal-title">Borrar Tratamiento</h4>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-hidden="true" aria-label="close"></button>
                            </div>
                            <div class="modal-body">					
                                <p>Are you sure you want to delete these Records?</p>
                                <p class="text-warning"><small>This action cannot be undone.</small></p>
                            </div>
                            <div class="modal-footer">
                                <input type="button" class="btn btn-default" data-bs-dismiss="modal" value="Cancel">
                                <input type="submit" class="btn btn-danger" value="Delete">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>



        <script th:src="@{../static/Tratamiento.js}" type="text/javascript"></script>
    </body>


</html>
